@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 15px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  width: 100%;
}

